.container {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  background: linear-gradient(to left, #76b852, #8dc26f);
}
.title {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  padding: 45px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: none;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: none;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
