.terminal__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 30px;
  background: #002b36;
  overflow: hidden;
}

.terminal__container ::-webkit-scrollbar {
  width: 0;
}

.terminal__bar {
  background: aliceblue;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  padding: 6px 30px;
  height: 33px;
}

.terminal {
  width: 100%;
  height: 100%;
}

.terminal__wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-right: 0;
  background: #002b36;
}
